test-data/**
.env

terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform.tfstate.lock.info
.terraform.lock.hcl
config.tfvars

transformation/target
transformation/dbt-env
transformation/logs
transformation/dbt_packages