rds_pg_case_studies:
  target: dev
  outputs:
    dev:
      type: postgres
      host: # Add source host
      port: 5432
      dbname: case_test_data
      schema: public
      threads: 1
      user: # Add source username
      password: # Add source password
rds_pg_case_studies_read_replica:
  target: dev
  outputs:
    dev:
      type: postgres
      host: # Add read replica host
      port: 5432
      dbname: case_test_data
      schema: public
      threads: 1
      user: # Add read replica username
      password: # Add read replica password